.navbar-personalizado {
    margin-bottom: 2em;
}

.nav-link {
    color: white !important;
}

.foto {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    text-align: center;
}

.foto-resumen {
    width: 33%;
}