@import "../node_modules/bootstrap/scss/bootstrap";

$padding_seccion: 50px;


body {
  background: #3A4856;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: bolder;
}

p {
  color: white !important;
  font-size: 20px;
}

a {
  outline: none;
}

li {
  color: white !important;
}

.navbar-personalizado {
  margin-bottom: 2em;
  background-color: lightslategray !important;
}

.nav-link {
  color: white !important;
}

.foto {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto-inicio {
  text-align: center;
  margin-bottom: 1em;
}

footer {
  /*Centrar el texto horizontal y verticalmente*/
  display: flex;
  align-items: center;
  justify-content: center;

  background: lightslategray;
  height: 80px;
}

footer > div {
  color: white;
}

.seccion-morado {

  @include make-col-ready();

  background-color: #9A7F8B;
  text-align: center;
  padding-top: $padding_seccion;
  padding-bottom: $padding_seccion;
}

.seccion-celeste {

  @include make-col-ready();

  background-color: #8DAFCE;
  text-align: center;
  padding-top: $padding_seccion;
  padding-bottom: $padding_seccion;
}

.seccion-morado-oscuro {

  @include make-col-ready();

  background-color: #674D59;
  text-align: center;
  padding-top: $padding_seccion;
  padding-bottom: $padding_seccion;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 40px;
}

.mail-icon {
  fill: white;
}

.seccion-no-color {
  margin: 0 auto;
  text-align: center;
  padding-top: $padding_seccion;
  padding-bottom: $padding_seccion;
}

.correo-contacto {
  font-size: 24px;
  margin-bottom: 2em;
}

.seccion-no-centrada {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.nav-link {
  outline: none !important;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

.lista-objetivos {
  list-style-type: none;
  text-align: left !important;
  padding-left: 25% !important;
  padding-right: 25% !important;
  font-weight: bold;
}

.contenedor {
  @include make-container();
}

.fila {
  @include make-row();
}

.columna-hobby {
  @include make-col-ready();

  @include media-breakpoint-up(lg) {
    @include make-col(4); // Convertir a col-lg-4
  }

  text-align: center !important;

}

@media screen and (max-width: 991px) {
  
  .columna-hobby {
    @include make-col-ready();
  
    @include media-breakpoint-up(md) {
      @include make-col(12); // Convertir a col-md-12
    }
  
  }
}

.navbar-toggler {
  outline: none !important;
}

.imagen-carrera {
  width: 18em;
  outline: none;
}